---
---

$primary: #007FFE;

.hero .title
{
    text-shadow: 1px 1px 5px #000000;
    color: yellow;
}

.hero .subtitle
{
    text-shadow: 1px 1px 5px #000000;
    color: yellow;
}

// Import Main CSS file from theme
@import "main";